@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;600;800&display=swap");

.project_card {
  font-style: normal;
  color: #0d0d0d;
  display: flex;
  justify-content: space-between;
  max-width: 2000px;

  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  &_challenges {
    margin-bottom: 5px;
  }

  &_title {
    font-size: 32px;
    font-weight: 700;
    font-family: "Urbanist", sans-serif;
  }

  &_about {
    font-size: 20px;
    margin-top: 5px;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
  }

  span {
    line-height: 150%;
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 0;
  }

  &_content {
    display: flex;
    column-gap: 70px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 150%;
    letter-spacing: 0.1px;
    font-family: "Urbanist", sans-serif;
    align-items: center;

    .d_none {
      display: none;
    }

    .d_block {
      display: block;
    }

    .project_card_image {
      img {
        width: 700px;
        border-radius: 40px;
        filter: drop-shadow(0px 102px 41px rgba(0, 0, 0, 0.01))
          drop-shadow(0px 57px 34px rgba(0, 0, 0, 0.03))
          drop-shadow(0px 26px 26px rgba(0, 0, 0, 0.04))
          drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.05))
          drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.05));
      }
    }

    span {
      h4 {
        margin: 18px 0;
      }

      span {
        font-size: 20px;
      }
    }

    .project_button {
      margin-top: 20px;

      span {
        color: #0090ff !important;
      }

      img {
        filter: invert(31%) sepia(100%) saturate(7470%) hue-rotate(181deg)
          brightness(98%) contrast(101%);
      }
    }

    div:nth-child(1) {
      max-width: 460px;
    }

    .mobile_image {
      display: none;

      img {
        border-radius: 40px;
        width: 100%;
        box-shadow: 0px 102px 41px rgba(0, 0, 0, 0.01),
          0px 57px 34px rgba(0, 0, 0, 0.03), 0px 26px 26px rgba(0, 0, 0, 0.04),
          0px 6px 14px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .project_card {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1260px) {
  .project_card {
    &_content {
      .project_card_description {
        .project_button {
          margin-top: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .project_card {
    margin-top: 40px;
    line-height: 150%;

    &_title {
      font-size: 20px;
    }

    &_about {
      font-size: 12px;
      margin-top: 0;
    }

    &_content {
      .mobile_image {
        display: block;
        text-align: center;
        position: relative;
        margin-bottom: 25px;

        .loading_mobile {
          width: 50px;
          position: absolute;
          bottom: 43%;
          right: 43%;
        }
      }

      .project_card_image {
        display: none;
        margin: 0 auto;
      }

      .project_card_description {
        .project_button {
          a {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .project_button {
    a {
      width: 100% !important;
    }
  }
}

@media only screen and (min-width: 1501px) {
  .d_block {
    display: block;
    min-height: 490px;
  }
}
