.skillCard {
    width: 466px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 14px 18px 50px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding-bottom: 75px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    min-height: 639px;
    
    &_title_img {
        text-align: center;

        .skillCard_title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #1E1E1E;
        }
    }

    ul {
        margin-top: 30px;
        padding: 0;
        max-width: 165px;
        margin: 0 auto;
    }

    li {
        list-style: none;
        font-size: 20px;
        margin-top: 40px;
        text-align: start;
        display: flex;
        align-items: center;

        img {
            max-width: 30px;
            margin-right: 10px;
        }
    }

    &_image {
        margin-top: 75px;
    }
}

@media screen and (max-width: 1448px) {
    .skillCard {
        margin: 20px 0 auto 20px;
        max-width: 330px;
    }
}

@media screen and (max-width: 660px) {
    .skillCard {
        margin-left: 0;
    }
}
