.footer {
    width: 100%;
    height: 70px;
    background: linear-gradient(269.64deg, rgb(75, 48, 205) 0.26%, rgb(120, 253, 125) 99.66%);
    display: flex;
    justify-content: center;
    align-items: center;

    &_p {
        color: #fff;
        font-style: normal;
        font-size: 16px;
        line-height: 18px;
    }
}
